/* body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
canvas {
    display: block;
 } */
   


html {
    scroll-snap-type: y mandatory;
}
body { 
    margin: 0; 
    overflow-x: hidden;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 61.2%, rgb(11, 132, 145) 91.1%);
    color: white;
    font-family: Arial, sans-serif;
}
canvas { 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1;
}
.content-wrapper {
    position: relative;
    z-index: 2;
    height: 300vh; 
}
.content-section {
    scroll-snap-align: start;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
    transition: transform 1s ease;
    box-sizing: border-box;
}
.content-section:nth-child(even) {
    justify-content: flex-end;
    padding-right: 5rem;
}
.content-section:nth-child(odd) {
    justify-content: flex-start;
    padding-left: 5rem;
}
.right-content, .left-content {
    width: 100%;
    max-width: 600px;
    background-color: rgb(22 22 22 / 28%);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px 3px #00000070;
    border:1px solid rgba(255, 255, 255, 0.144)
}
.left-content {
    text-align: left;
}
.right-content {
    text-align: left;
}
h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
p {
    line-height: 1.6;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 5px;
}
.button:hover {
    background-color: #0056b3;
}
.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.social-icons a {
    color: white;
    font-size: 1.5em;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #007bff;
}
.banner-section{
    background: linear-gradient(109.6deg, rgba(36, 45, 57, 0.336) 11.2%, rgba(16, 37, 60, 0.781) 51.2%, rgba(0, 0, 0, 0.247) 98.6%);
    backdrop-filter: blur(5px);
    
}
/* Responsive styles */
@media (max-width: 768px) {
    .content-section {
        padding: 0 10px;
    }
    .left-content, .right-content {
        width: 50%;
        max-width: 100%;
        padding: 15px;
    }
    h2 {
        font-size: 1.2em;
    }
    .content-section:nth-child(even) {
        padding-right: 0rem;
    }
    .content-section:nth-child(odd) {
        padding-left: 0rem;
    }
}

@media (max-width: 480px) {
    .content-section {
        padding: 0 5px;
    }
    .left-content, .right-content {
        padding: 10px;
    }
    h2 {
        font-size: 1em;
    }
    .button {
        font-size: 0.9em;
        padding: 8px 15px;
    }
}